@font-face {
  font-family: futurefont;
  src: url('future2.ttf');
}

@font-face {
  font-family: stylefuture;
  src: url('future4.ttf');
}

body {

 background-image: url('images/bk-future.jpeg');
 background-repeat: no-repeat;
 background-size: cover;
  }

main {

  position: relative;
  background-image: url('images/voice-recognition.png');
 padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  box-sizing: border-box;
  width: 40%;
  max-width: 960px;
  max-height: 500px;
  margin-top: 300px;
  margin-bottom: 90px;
  font-family: 'futurefont', serif;
  font-size: 11pt;
  letter-spacing: .06em;
  background-color: rgba(213, 122, 255, 0.1);
  color: black;
overflow-x: hidden;
  overflow-y: auto;
  
}


p {
  color: #EBE5F1;
  font-family: 'futurefont', serif;
  line-height: 40px;
  text-align: center;
  margin-left: 30px;
}


header {
  
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'futurefont', serif;
  color: #637bff;
   height: 50%;
   line-height: 2;
   
}

figcaption {
  margin-left: 30px;
}

footer {
  color:red;
  margin: 20px;
  padding:10px;
  height: auto;
  font-family: 'futurefont', serif;
  width: 50%;
}

#footer {
  height: 30px;
  margin-left: 350px;
  padding-left: 20px;
  padding-right: 20px;
 
}

.bg img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p a {
    font-size: 14px;
color:#800080;
text-decoration: underline;
    }
.container-eu:before {
box-sizing: content-box;
content:"News from Earth:";
font-family: 'futurefont', serif;
font-style: italic;
background-color: #033B60;
border: 1px solid #E8E40A;
font-size: 13pt;  
text-align: justify;
border-radius: 5px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-top: 10px;
margin: auto;  
margin-top: 8px;
margin-bottom: 10px; 
display: block;
}
.wrapper:before {
box-sizing: content-box;
content:"";
height: 115px;
background-repeat:no-repeat;
background-image: url('images/alien2.gif');
background-size: contain;
background-position: center;
border-radius: 3px;
opacity: 0.7; 
background-color: #1AC484;
border: 1px solid #E8E40A;
color: rgb(0, 50, 93);
text-align: justify;
border-radius: 5px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-top: 10px;
margin: auto;  
margin-top: 8px;
margin-bottom: 40px; 
display: block;
}

.container-eu:after {
box-sizing: content-box;
content:"";
height: 90px;
background-repeat:no-repeat;
background-image: url('images/alien2.gif');
background-size: 230px;
border-radius: 3px;
opacity: 0.7;  
background-color: #050098;
border: 1px solid rgba(0,121,171,0.2);
color: rgb(0, 50, 93);
text-align: justify;
border-radius: 5px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-top: 10px;
margin: auto;  
margin-top: 20px;
margin-bottom: 10px; 
display: block;
} 
.container-eu {

box-sizing: border-box;
overflow: auto;
width: 95%;
max-width: 960px; 
max-height: 500px;
margin-bottom: 90px;
display: inline-block;
font-family: 'futurefont', serif;
font-size: 11pt;
letter-spacing: .06em;
background-color: #2F6336;
border: 1px solid rgba(120, 200, 255, 0.2);
color: black;
border-radius: 15px;
text-align: justify;
background-image: url('voice-recognition.png');
background-size: 50px;
background-repeat: no-repeat;
background-position: left center;
}

.col-ing > div:first-of-type {
text-align: center; 
}

.col-ita > div:first-of-type {
text-align: center; 
}

.flex-container{
width: 100%;
max-width: 278px;
margin-top:20px;
margin: 0 auto;
display: -webkit-flex; /* Safari */     
display: flex; /* Standard syntax */
}

.flex-container .col-ing{
margin-top: 30px;
-webkit-flex: 1; /* Safari */
flex: 1; /* Standard syntax */
margin-right:10px;
}

.flex-container .col-ita{
margin-top: 30px;
-webkit-flex: 1; /* Safari */
flex: 1; /* Standard syntax */
margin-left:10px;
}

.flex-container p {
  color: white;
}



/*RESPONSIVE*/

@media (max-width: 650px) {
  #container {
    width: 100%;
  }
 
  h2{ font-size: 15px;
  }

  h3{ font-size: 15px;
  }

  time{font-size: 10px;
  }
// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {

  h1 {
    font-size: 100px;
    word-break: break-all;
    text-align: justify;
    letter-spacing: 2px;
      line-height: 180px;

  }

  h2{ 
    font-size: 20px;
  }

  h3{ 
    font-size: 20px;
  }

  time{
    font-size: 15px;
  }
 





/* width */
::-webkit-scrollbar {
width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
background: #1AC484;
box-shadow: inset 0 0 5px grey; 
border-radius: 3px;
}
/* Handle */
::-webkit-scrollbar-thumb {
background: #2F6336; 
border-radius: 3px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #033B60; 
}
/*eudirective*/
